$color-white: #fff;
$color-black: #000;
$color-black-light: #0b0404;
$color-grey-1: #333;

$color-heading-secondary: rgba($color-white, 0.9);

$color-orange-dark-1: #ff512f;
$color-orange-dark-2: #f77823;
$color-orange-dark-3: #f96e26;
$color-orange-light-1: #f09819;

$color-blue-dark-1: #1b4bf8;
$color-blue-dark-2: #091e3a;
$color-blue-light-1: #2f80ed;
$color-blue-light-2: #2a72eb;

$color-red-light-1: #e43a15;
$color-red-light-2: #e65245;

$color-green-light-1: #799f0c;
$color-green-light-2: #acbb78;

$color-purple-dark-1: #9400d3;
$color-purple-dark-2: #4b0082;
$color-purple-light-1: #d26aff;

$ellipse-w: 19.95rem;
$ellipse-h: 44.12rem;

$padding-page-h: 6rem;

$padding-section-v: 35rem;
$color-border: #c4c4c4;
