*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, $color-black-light 0%, $color-black 100%);
  position: relative;

  .body__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/stars.png') no-repeat;
    z-index: -1;
  }
}

main,
footer {
  padding: 0 $padding-page-h;
}

ul {
  font-family: 'Roboto';
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color-white;
  transition: all 0.4s;
}
a:hover {
  color: #ccc;
}
